<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25889213677-hcpgstaudq958491soelep65met7mdfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25889213677-hcpgstaudq958491soelep65met7mdfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25889213677-t6oqfuul7c2a2oul69sqcqttjl5ajmve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI36mvs9b8CdF21q5U2tbCE0V2IwdCJ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>25889213677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>news.freenity</string>
	<key>PROJECT_ID</key>
	<string>freenity-news</string>
	<key>STORAGE_BUCKET</key>
	<string>freenity-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25889213677:ios:7743936d48162f276950e4</string>
	<key>DATABASE_URL</key>
	<string>https://freenity-news.firebaseio.com</string>
</dict>
</plist>